body {
    font-family: 'Arial', sans-serif;
    background-color: #F6F1F1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #AFD3E2;
    color: #19A7CE;
    padding: 20px;
    padding-left: 50px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container img {
    height: 40px;
    /* Adjust the height as needed */
    margin-right: 10px;
    /* Add margin as needed */
}


nav {
    background-color: #19A7CE;
    color: #F6F1F1;
    padding: 20px;
    font-size: 25px;
    height: 100%;
    position: fixed;
    left: 0;
    font-family: 'Shadows Into Light', cursive;
    top: 0;
    bottom: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
    padding-bottom: 25px;
    padding-top: 25px;
}

nav ul li a {
    color: #F6F1F1;
    text-decoration: none;
}

main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* font-family: 'Shadows Into Light', cursive; */
    align-items: center;
    margin-left: 200px;
}

form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;

    background-color: #AFD3E2;
    padding: 20px;
    margin-right: 120px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
    font-size: 25px;
    font-family: 'Shadows Into Light', cursive;
    /* font-family: 'Rubik', sans-serif; */
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #19A7CE;
    color: #F6F1F1;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    font-weight: bold;
    font-size: 14px;
}

#clearButton {
    background-color: #19A7CE;
    color: #F6F1F1;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    font-weight: bold;
    font-size: 14px;
}

#buttonContainer {
    display: flex;
    gap: 10px;
}


footer {
    background-color: #19A7CE;
    color: #F6F1F1;
    padding: 10px;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    margin-top: auto;
}

.social-media {
    margin-bottom: 10px;
}

.social-media a {
    margin-right: 10px;
    color: #F6F1F1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}

footer ul li a {
    color: #F6F1F1;
    text-decoration: none;
}